@font-face {
  font-family: "AdamWarren";
  src: url("./assets/fonts/adamwarrenpro.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "AdamWarren";
  src: url("./assets/fonts/adamwarrenpro-bold.ttf") format("truetype");
  font-weight: 500;
}

html * {
  box-sizing: border-box;
  font-family: "AdamWarren";
}

body {
  min-height: 100vh;
  background-color: #000;
  position: relative;
  padding-top: 72px;
  padding-bottom: 80px;
}

body::before {
  content: "";
  background-image: url("./assets/images/bg.jpg");
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
